@import "variables";

.header__home {
  background-color: rgba(0, 0, 0, 0.5);
  position: sticky;
  top: 0;
}

.header__logo__home, .header__nav_link__home {
  color: $runoHome;
}

.slid {
  &__title {
    text-align: left;
    @include font($lora, 36px, 700, $white);
    max-width: 530px;
    padding-bottom: 45vh;

  }


}

.news {
  margin: 100px 0;

  &__container {
    margin: 0 15px;
  }

  &__title {
    @include font($lora, 36px, 700, $newsTitle);
  }

  &__view {
    @include font($lora, 14px, 700, $newsTitle);
    text-decoration: none;
    margin-right: 40px;
  }

  &__label {
    display: flex;
    justify-content: space-between;

  }

  &__block {
    display: flex;
    justify-content: space-around;
    max-width: 1400px;
    flex-wrap: wrap;
    align-content: center;
  }

  &__img {
    max-width: 310px;
    max-height: 360px;
    margin-top: 38px;
    @include transition(opacity 0.1s linear); //не віходит
  }

  &__img:hover {
    @include scale(1.1);

  }


  &__date {
    margin: 15px 0;
    @include font($lora, 12px, 400, $borderColor3);
  }

  &__name {
    max-width: 273px;
    line-height: 25px;

    a {
      text-decoration: none;
      @include font($lora, 18px, 700, $newsTitle);
    }
  }

  &__text {
    @include font($lora, 12px, 400, $borderColor3);
    max-width: 310px;
    margin-top: 15px;
    line-height: 25px;
  }
}

.article {
  background: url("../img/news/second.png") no-repeat top center;
  background-size: cover;

  height: 105vh;
  width: 100%;


  &__page {
    background: url("../img/news/third.png") no-repeat top center;
    background-size: cover;
  }

  &__title {
    @include font($lora, 36px, 700, $white);
    line-height: 46px;
    padding-top: 284px;
  }

  &__title_article {
    padding-top: 224px;
  }

  &__text {
    @include font($lora, 12px, 400, $borderColor1);
    line-height: 20px;

  }

  &__block {

    text-align: center;
  }


}

.footer {
  background-color: $regMainColor;
  @include font($lora, 12px, 400, $borderColor1);


  &__container {
    padding: 106px 0;
    display: flex;
    justify-content: space-around;
  }

  &__sub {
    background-color: $btn2Color;
    @include font($lora, 14px, 700, $borderColor1);
    padding: 31px 0 31px 60px;
  }

  &__title {
    @include font($lora, 18px, 700, $white);
    line-height: 25px;
    margin-bottom: 16px;
  }

  &__email,
  &__tel, &__link, &__line, &__address {
    text-decoration: none;
    @include font($lora, 12px, 400, $borderColor1);
    line-height: 30px;
  }

  &__link {
    margin-right: 18px;
  }
}

.main_article {
  &__container {
    max-width: 860px;
    margin: 100px auto;
    padding: 0 5px
  }

  &__text {
    line-height: 25px;
    @include font($lora, 14px, 400, $newsTitle);
    padding-bottom: 40px;
  }

  &__quote {
    @include font($lora, 36px, 700, $linksColor);
    padding-bottom: 40px;
  }

  &__date {
    @include font($lora, 12px, 700, $newsTitle);
    border-bottom: 0.5px solid #C4C4C4;
    padding-bottom: 42px;
  }

  &__author__name::before {
    content: url("../img/author.png");
    padding-right: 15px;

  }

  &__author {
    display: flex;
    justify-content: space-between;
    margin-top: 55px;
    padding-top: 20px;
    align-items: center;
    @include font($lora, 12px, 700, $newsTitle);
    line-height: 20px;
  }

  &__prof {
    @include font($lora, 12px, 400, $borderColor3);
  }

  a {
    @include font($lora, 12px, 700, $newsTitle);
    padding-left: 10px;
  }

  &__author__name {
    display: flex;
    align-items: center;
  }
}

.post {
  background-color: $borderColor1;


  &__title {
    @include font($lora, 18px, 700, $newsTitle);
    padding-top: 100px;
  }

  &__related {
    display: flex;
    justify-content: space-between;
    padding: 50px 0 100px 0;

  }

  &__article {
    width: 450px;
    height: 350px;
    padding: 153px 0 0 40px;
    margin-left: 10px;
  }

  &__article__first {
    background: url("../img/article1.png") no-repeat;
  }

  &__article__second {
    background: url("../img/article2.png") no-repeat;
  }

  &__article__third {
    background: url("../img/article3.png") no-repeat;
  }

  &__date {
    @include font($lora, 12px, 400, $borderColor1);
    padding-bottom: 15px;
  }

  &__name {
    line-height: 25px;
    padding: 0 110px 15px 0;


    a {
      text-decoration: none;
      @include font($lora, 18px, 700, $white);
      transition: color 0.2s linear;
    }

    a:hover {
      color: $runoHome;
    }
  }

  &__text {
    line-height: 20px;
    @include font($lora, 12px, 400, $borderColor1);
    padding: 10px 90px 0 0;

  }

}

@media (max-width: $screen-lg) {
  .post__article {

    border-radius: 5px;
    padding: 100px 0 0 40px;
  }

  .post__name {
    padding: 0 60px 0 0;
  }


}

@media (max-width: $screen-md) {

  .post__article {
    border-radius: 5px;
    padding: 100px 0 0 40px;


  }


  .post__name {
    padding: 5px 60px 15px 0;

    a {
      @include font($lora, 16px, 700, $white);
    }
  }

  .post__text {
    padding: 5px 40px 15px 0;
    @include font($lora, 11px, 400, $borderColor1);
  }


}


@media (max-width: $screen-sm) {

  .slid__title{
    @include font($lora, 30px, 700, $white);
  }

  .post__related {
    flex-wrap: wrap;
    justify-content: center;

  }

  .post__article {
    margin-left: 0;
    margin-bottom: 30px;
    padding: 120px 0 0 40px;
  }

  .post__date {
    @include font($lora, 12px, 400, $borderColor1);
  }

  .post__name {
    a {
      @include font($lora, 18px, 700, $white);
    }
  }

  .post__text {
    padding: 0 90px 0 0;
  }

  .article__title {
    @include font($lora, 30px, 700, $white);
  }

  .footer__container {
    flex-wrap: wrap;

  }

  .main_article__container {
    margin: 80px 50px;
  }

  .main_article__quote {
    @include font($lora, 30px, 700, $linksColor);

  }
}

@media (max-width: $screen-xs) {

  .slid__title{
    @include font($lora, 5px, 700, $white);

  }

  .footer__container {
    padding: 60px 0;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;

  }

  .footer__sub {
    @include font($lora, 12px, 700, $borderColor1);
    padding: 15px 0 15px 30px;
  }

  .footer__link:last-child {
    margin-right: 0;
  }

  .footer__email,
  .footer__tel, .footer__link, .footer__line, .footer__address {

    @include font($lora, 10px, 400, $borderColor1);
    line-height: 20px;
  }

  .footer__title {
    @include font($lora, 16px, 700, $white);
  }

  .footer__block {
    width: 100%;
    margin-bottom: 39px;
    padding-bottom: 30px;
    border-bottom: 0.5px solid #C4C4C4;
  }
  .article__title {
    @include font($lora, 20px, 700, $white);
    line-height: 30px;
  }

  .main_article__quote {
    @include font($lora, 24px, 700, $linksColor);
  }

  .main_article__date {
    padding-bottom: 32px;
  }

  .main_article__author__name::before {
    content: none;
  }

  .main_article__author {
    margin-top: 40px;
  }

  .post__title {
    @include font($lora, 16px, 700, $newsTitle);
    padding-top: 70px;
  }

  .news {
    margin: 50px 0;
  }

  .news__title {
    @include font($lora, 26px, 700, $newsTitle);
  }

  .news__view {
    padding-top: 10px;
    margin-right: 0;
  }

}

@media (max-width: $screen-xxs) {
  .news__container{
    margin: 0 30px;
  }

  .news__name {
    a {
      @include font($lora, 14px, 700, $newsTitle);
    }
  }
  .article__title {
    @include font($lora, 16px, 700, $white);
    line-height: 20px;
    padding-bottom: 10px;
  }

  .article__text {
    @include font($lora, 10px, 400, $borderColor1);
    line-height: 16px;
    margin: 0 25px;
  }

  .main_article__text {
    @include font($lora, 12px, 400, $newsTitle);
  }

  .main_article__quote {
    @include font($lora, 20px, 700, $linksColor);
    line-height: 25px;
  }

  .main_article__date {
    @include font($lora, 10px, 700, $newsTitle);

  }

  .main_article__author {
    padding: 0;
  }

  .main_article__container {
    margin: 60px 50px;
  }
}

@media (max-width: $screen-min-s) {
  .main_article__text {
    @include font($lora, 12px, 400, $newsTitle);
    padding-bottom: 20px;
  }

  .post__name {
    padding: 5px 30px 15px 0;

    a {
      @include font($lora, 14px, 700, $white);
    }
  }

  .post__text {
    padding: 5px 20px 15px 0;
    @include font($lora, 10px, 400, $borderColor1);
  }

  .post__article {
    padding: 80px 0 0 40px;
  }

  .news__img {
    max-width: 310px;

  }

}





