$spartan: 'League Spartan', sans-serif;
$lora: 'Lora', serif;
$roboto: 'Roboto';
$regMainColor: #212529;
$white: #ffffff;
$borderColor1: #e5e5e5;
$linksColor: #D4A373;
$borderColor3: #6C757D;
$btn1Color: #D4A373;
$btn1ColorHover: #f8c088;
$btn2Color: #343A40;
$btn2ColorHover: #5c6670;
$newsTitle: #495057;
$runoHome: #a4bfdb;

$screen-min: 320px;
$screen-min-s: 400px;
$screen-xxs: 565px;
$screen-xs: 767px;
$screen-sm: 991px;
$screen-md: 1199px;
$screen-lg: 1400px;


